.cart {
  &__menu {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--theme);
    border: 0;
    border-radius: 50px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);

    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__content {
    position: fixed;
    top: 100vh;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: white;
    transform: scaleY(0);
    transition: .3s;

    @include breakpoint(desktop) {
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
    }

    &--open {
      top: 0;
      transform: scaleY(1);
    }
  }

  &__title {
    margin-bottom: 20px;
    color: $onyx;
    font-family: $textFont;
    font-size: 2.6rem;
    font-weight: 600;
  }

  &__list {
    height: calc(100vh - 240px);
    overflow: auto;

    @include breakpoint(desktop) {
      height: calc(100vh - 340px);
    }
  }

  &__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: white;

    @include breakpoint(desktop) {
      position: absolute;
    }
  }

  &__total {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    color: $onyx;
    border-top: 1px solid $snow;
    font-family: $textFont;
    font-size: 2rem;
    font-weight: 400;
  }

  &__total-value {
    font-weight: 600;
  }

  &__button {
    position: relative;
    width: 100%;
    padding: 20px;
    color: var(--theme);
    background-color: transparent;
    border: 2px solid var(--theme);
    font-family: $textFont;
    font-size: 1.4rem;

    @include breakpoint(desktop) {
      color: white;
      background-color: var(--theme);
      border: 0;
    }
  }

  &__items {
    position: absolute;
    top: -3px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    color: var(--theme);
    background-color: white;
    border: 2px solid var(--theme);
    border-radius: 50px;
    font-family: $textFont;
    font-size: 1.1rem;
    font-weight: 600;

    @include breakpoint(desktop) {
      display: none;
    }
  }
}
