.list {
  display: grid;
  grid-row-gap: 20px;
  width: 100%;

  @include breakpoint(tablet) {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(desktop) {
    grid-template-columns: repeat(4, 1fr);
    max-height: 100vh;
    overflow: auto;
  }
}
